
* {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');

body,html{
    background-color: #ffffff;
    color: #333;
    width: 100%;
    margin: 0;
}

#topSidebar{
    text-align: center;
    background-color: #C3002F;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 1px 0px rgb(162, 162, 162);
    font-size: 24px;
}
h1{
    color: #C3002F ;
    text-shadow: #000000;
}
#leftSidebar{
    background-color: #DB6273;
    color: #000000;
    width: 220px;
    position: absolute;
    height: 100%;


}
.button_leftside{
    background-color: #FFD13F;
    text-align: left;
    cursor: pointer;
    padding: 6px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-left: 12px;
    margin-top: 15px;
    text-decoration: none;
    width: 196px;
    font-size: 20px;
    box-shadow: 2px 2px 2px #000000;
}
.button_leftside:hover {
    background-color: #eac139;
 }
 .button_leftsiden:active {
    background-color: #fdcc2a;
 }
 #student_personal_information{
    margin-top: 150px;
 }
#log_out{
    margin-top: 100px;
}
.body{
    margin-top: 50px;
}
form{
    margin-left: 20%;
}
.button_down1 {
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    width: 160px;
    height: 40px;
    background-color: #C3002F;
    box-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
}

.button_down2 {
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    width: 100px;
    height: 40px;
    background-color: #C3002F;
    box-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;

}
.button_down1:hover {
    background-color: #ae062d;
 }
 .button_down1:active {
    background-color: #6c071f;
 }
 .button_down2:hover {
    background-color: #ae062d;
 }
 .button_down2:active {
    background-color: #6c071f;
 }
 .submitButton:hover {
    background-color: #ae062d;
 }
 .submitButton:active {
    background-color: #6c071f;
 }
 #submitButton {
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    width: 150px;
    height: 40px;
    background-color: #C3002F;
    box-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
 }