
/*----------set all element-------------*/
* {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
/*----------font thai-------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');
/*----------ตั้งค่าหน้าเว็บ-------------*/
body,html{
    background-color: #ffffff; /* สีพื้นหลังขาว*/
    color: #333; /* ตัวอักษรสีดำ*/
    width: 100%;
}
/*----------Header แถบชื่อมหาลัยข้างบน-------------*/
#topSidebar{
    text-align: center;
    background-color: #C3002F; /* สีพื้นหลัง สีแดงมธ*/
    color: #ffffff; /* ตัวอักษรสีขาว */
    font-weight: bold; /* ตัวอักษรตัวหนา */
    text-shadow: 2px 1px 0px rgb(162, 162, 162); /* เงาตัวอักษร */
    font-size: 24px;
}
/*----------แถบข้างซ้าย ปุ่มเลือก-------------*/
#leftSidebar{
    background-color: #DB6273; /* สีพื้นหลัง แดงอ่อน*/
    color: #000000;
    width: 220px;
    position: absolute;
}
/* ------------------ปุ่มข้างซ้าย--------------------*/
.button_leftside{
    background-color: #FFD13F; /* สีพื้นหลัง สีเหลืองมธ*/
    text-align: left;/* ตัวอักษรชิดซ้าย*/
    cursor: pointer; /* เวลา cursor ชี้จะเปลี่ยนเป็นแบบ pointer*/
    padding: 6px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s; /*ระยะหน่วงเปลี่ยนสี*/
    margin-left: 12px;
    margin-top: 15px;
    text-decoration: none; /*ไม่มีขีดเส้นใต้ (none)*/
    width: 196px; /*ความกว้างของปุ่มเหลือง*/
    font-size: 20px;
    box-shadow: 2px 2px 2px #000000; /*เงาของปุ่มเหลือง*/
}
.button_leftside:hover { /*เมื่อเอาเมาส์จ่อปุ่ม*/
    background-color: #eac139; /* สีปุ่ม เหลืองเข้มเข้ม */
 }
 .button_leftsiden:active { /*เมื่อเอาเมาส์กดปุ่ม*/
    background-color: #fdcc2a;/* สีปุ่ม เหลืองเข้มกว่าเข้มสุด */
 }
/* -------------------------------------------------*/
/*ปุ่มประวัตินักศึกษา เว้นลงมาจากขอบบน*/
#student_personal_information{
    margin-top: 150px;
}
/*ปุ่มย้อนกลับ ให้ห่างจากปุ่มอื่น*/
#log_out{
    margin-top: 150px;
}
/*ข้อมูลที่อยู่ในพื้นหลังสีขาว*/
.body{
    margin-top: 50px;
}
/*หัวเรื่องในส่วนของ body */
#headBody{
    margin-left: 300px;
    color: #C3002F;
    text-shadow: 2px 1px 0px rgb(162, 162, 162);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}
.form-container {
    display: flex;
    margin-left: 300px;
}

.title_label { /*ตำแหน่งข้อความบน input(หัวข้อ)*/
    margin-left: 0;
}
.studentName_label {
    margin-left: 165px;
}
.studentId_label {
    margin-left: 460px;
}
.studyField_label {
    margin-left: 195px;
}
.advisor_label {
    margin-left: 320px;
}
.moo_label{
    margin-left: 145px;
}
.tumbol_label{
    margin-left: 185px;
}
.amphur_label{
    margin-left: 170px;
}
.postalCode_label{
    margin-left: 160px;
}
.mobilePhone_label{
    margin-left: 115px;
}

#title { /*ขนาด input*/
    width: 200px;
}
#studentName{
    width: 490px;
}
#studentId{
    width: 260px;
}
#studentYear {
    width: 200px;
}
#studyField {
    width: 350px;
}
#advisor {
    width: 400px;
}
#addressNumber,#moo ,#tumbol ,#amphur,#postalCode,#mobilePhone,#province{
    width: 180px;
}

#title, #studentName, #studentId,#studentYear, #studyField, #advisor,#addressNumber,#moo ,#tumbol ,#amphur,#postalCode,#mobilePhone,#province { /*รูปร่างinput*/
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
    color: #000000;
    padding: 5px;
}
.form-item { /*ระยะห่างช่อง*/
    margin-left: 25px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.button_down_first {
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    width: 160px;
    height: 40px;
    background-color: #C3002F;
    box-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 70px;
}

.button_down_second {
    position: relative;
    border-radius: 15px;
    bottom: -10px;
    width: 80px;
    height: 40px;
    background-color: #C3002F;
    box-shadow: 2px 2px 2px #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 70px;
}
.button_down_first:hover {
    background-color: #ae062d;
 }
 .button_down_first:active {
    background-color: #6c071f;
 }
 .button_down_second:hover {
    background-color: #ae062d;
 }
 .button_down_second:active {
    background-color: #6c071f;
 }