<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
</head>
<body>
<h2>Data Display</h2>
<table border="1">
    <thead>
    <tr>
        <th>StudentID</th>
        <th>Type</th>
        <th>Reason</th>
        <th>Term</th>
        <th>Year</th>
        <th>PaidMonth</th>
        <th>PaidYear</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${RequestForm}">
        <td th:text="${request.studentID}">Student Id</td>
        <td th:text="${request.type}">Type</td>
        <td th:text="${request.reason}">Reason</td>
        <td th:text="${request.term}">Term</td>
        <td th:text="${request.year}">Year</td>
        <td th:text="${request.paidMonth}">PaidMonth</td>
        <td th:text="${request.paidYear}">PaidYear</td>
    </tr>
    </tbody>
</table>
</body>
</html>